@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium1.woff2') format('woff2'),
       url('../fonts/Gilroy-Medium.woff') format('woff');
       font-weight: 500;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold1.woff2') format('woff2'),
       url('../fonts/Gilroy-Bold.woff') format('woff');
       font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Gilroy;
  font-weight: 500;
}

header {
  margin-bottom: 40px;
}

.container {
  max-width: 940px; 
  margin: 0 auto; 
}

.header__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.header__menu-item {
    font-weight: 700;
    text-align: center;
    margin: 32px 0;
}
  
.header__menu-link {
    display: block;
    text-decoration: none;
    color: #888;
    padding: 10px 0;
}
  
.header__menu-link:hover {
    color: #000000;
}

.home {
  margin-bottom: 100px;  
}

.home h1 {
  font-size: 47px;
}  
  
.home p {
  font-size: 18px;
}

.lang {
  transform: rotate(-90deg);
}

.lang span {
  font-weight: 700;
}

.home__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  background: #f6f6f6;
  padding-top: 105px;
  padding-bottom: 105px;
}

.aboutme {
  text-align: center;
}

h2 {
  font-size: 34px;
  text-align: center;
}

.about p {
  font-size: 18px;
  max-width: 485px;
  margin: auto;
}

.about p:not(:last-child) { margin-bottom: 50px }

.skills {
  margin-top: 90px;
}

.card-group {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 110px;
}

.card p {
  color: #828282;
}

.title {
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
}

.portfolio {
  background: #f6f6f6;
  padding-top: 110px;
}

.portfolio h2{
  padding-bottom: 50px;
}

.portfolio p{
  font-size: 18px;
  text-decoration-line: underline;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

footer {
  margin-top: 100px;
  text-align: center;
}

footer p {
  padding-bottom: 30px;
}

footer span{
  font-size: 18px;
}

button {
  font-weight: 700;
  margin-bottom: 80px;
  background-color: #000000; 
  color: #fff; 
  border-radius: 20px; 
  padding: 10px 30px; 
  border: none; 
}

footer img:not(:last-child) { margin-right: 60px }
footer img {
  margin-bottom: 45px;
}

.subscribe {
  margin-bottom: 130px;
}